################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeaveSystem.Infrastructure/LeaveSystem.Infrastructure/obj
